<%-include ('./partials/header')%>
<%-include ('./partials/navbar')%>

<h1> Show particular comment </h1>
<br>
<br>
<h2>Author: <%=c.author%></h2>
<p>Comment Text: <%=c.comment%></p>








<%-include ('./partials/footer')%>